{% load i18n %}
<tr {% if reorder_enabled and "can_change_event_settings" in request.eventpermset %}dragsort-id="{{ e.id }}"{% endif %}>
    {% if "can_change_event_settings" in request.eventpermset %}
        <td class="partner-select-col">
            <input type="checkbox" value="{{ e.id }}" data-partner-checkbox aria-label="{% blocktrans trimmed with name=e.name %}Select {{ name }}{% endblocktrans %}">
        </td>
    {% endif %}
    <td>
        {% if "can_change_event_settings" in request.eventpermset %}
            <strong><a href="{% url "plugins:exhibition:edit" organizer=request.event.organizer.slug event=request.event.slug pk=e.id %}?type={{ partner_type }}">
                {{ e.name }}
            </a></strong>
        {% else %}
            <strong>{{ e.name }}</strong>
        {% endif %}
    </td>
    {% if partner_type != 'exhibitor' %}
        <td>
            {% if e.sponsor_group %}
                {{ e.sponsor_group.localized_name }}
            {% else %}
                -
            {% endif %}
        </td>
    {% endif %}
    {% if partner_type != 'sponsor' %}
        <td>
            {% if not e.is_exhibitor %}
                -
            {% elif e.localized_booth_name %}
                {{ e.localized_booth_name }}
            {% else %}
                {% trans "Untitled" %}
            {% endif %}
        </td>
    {% endif %}
    {% if "can_change_event_settings" in request.eventpermset %}
        <td class="partner-vouchers-col">
            {% if e.voucher_pending %}
                <span class="label label-warning" title="{% trans "Waiting in the outbox" %}" data-toggle="tooltip">
                    {% trans "In outbox" %}
                </span>
            {% elif e.voucher_sent_at %}
                <span class="label label-success" title="{% blocktrans trimmed with sent=e.voucher_sent_at|date:"SHORT_DATETIME_FORMAT" %}Last sent {{ sent }}{% endblocktrans %}" data-toggle="tooltip">
                    {% trans "Sent" %}
                </span>
            {% else %}
                <span class="text-muted">{% trans "Not sent" %}</span>
            {% endif %}
        </td>
    {% endif %}
    <td class="text-right flip">
        {% if "can_change_event_settings" in request.eventpermset %}
            <a href="{% url "plugins:exhibition:edit" organizer=request.event.organizer.slug event=request.event.slug pk=e.id %}?type={{ partner_type }}" class="btn btn-default btn-sm" title="{% trans "Edit" %}" data-toggle="tooltip"><i class="fa fa-edit"></i></a>
            <button type="button" class="btn btn-default btn-sm exhibitor-copy-key" data-url="{% url "plugins:exhibition:copy_key" organizer=request.event.organizer.slug event=request.event.slug pk=e.id %}" data-copied-label="{% trans "Copied!" %}" data-failed-label="{% trans "Copy failed" %}" title="{% trans "Key" %}" data-toggle="tooltip"><i class="fa fa-copy"></i></button>
            <a href="{% url "plugins:exhibition:vouchers" organizer=request.event.organizer.slug event=request.event.slug pk=e.id %}" class="btn btn-default btn-sm" title="{% trans "Vouchers" %}" data-toggle="tooltip"><i class="fa fa-ticket"></i></a>
            <a href="{% url "plugins:exhibition:devices" organizer=request.event.organizer.slug event=request.event.slug pk=e.id %}" class="btn btn-default btn-sm" title="{% trans "Lead-scanning devices" %}" data-toggle="tooltip"><i class="fa fa-mobile"></i></a>
            <a href="{% url "plugins:exhibition:delete" organizer=request.event.organizer.slug event=request.event.slug pk=e.id %}?type={{ partner_type }}" class="btn btn-delete btn-danger btn-sm" title="{% trans "Delete" %}" data-toggle="tooltip"><i class="fa fa-trash"></i></a>
            {% if reorder_enabled %}
                <button type="button" draggable="true" class="btn btn-primary btn-sm dragsort-button" title="{% trans 'Move' %}" aria-label="{% trans 'Move' %}" data-toggle="tooltip">
                    <i class="fa fa-arrows"></i>
                </button>
            {% endif %}
        {% endif %}
    </td>
</tr>
