{% extends "exhibitors/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% load escapejson %}
{% block title %}{{ page_title }}{% endblock %}

{% block custom_header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'exhibition/css/exhibitors-add.css' %}">
    <link rel="stylesheet" href="{% static 'exhibition/css/history-panel.css' %}">
    <link rel="stylesheet" href="{% static 'exhibition/css/session-select.css' %}">
{% endblock %}

{% block exhibitors_header %}
<h1>{{ page_title }}</h1>
{% endblock %}

{% block exhibitors_content %}
<form action="" method="post" class="form-horizontal exhibition-organization-form" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form_errors form %}

    <fieldset>
        <legend>{% trans "Profile" %}</legend>
        {% include 'exhibitors/_i18n_language_switcher.html' %}
        {% include "exhibitors/_profile_fields.html" %}
    </fieldset>

    {% if form.published or form.is_exhibitor or form.is_sponsor or form.sponsor_group or form.booth_id %}
    <fieldset>
        <legend>{% trans "Organizer only" %}</legend>
        {% if form.published %}
            {% bootstrap_field form.published layout="control" %}
        {% endif %}
        {% if form.is_exhibitor %}
        <div id="is-exhibitor-wrapper">
            {% bootstrap_field form.is_exhibitor layout="control" %}
        </div>
        {% endif %}
        {% if form.is_sponsor %}
        <div id="is-sponsor-wrapper">
            {% bootstrap_field form.is_sponsor layout="control" %}
        </div>
        {% endif %}
        {% if form.sponsor_group %}
        <div id="sponsor-group-wrapper">
            {% bootstrap_field form.sponsor_group layout="control" %}
        </div>
        {% endif %}
        {% if form.booth_id %}
        <div id="booth-id-wrapper">
            {% bootstrap_field form.booth_id layout="control" %}
        </div>
        {% endif %}
        {% if form.sessions %}
        <div id="sessions-wrapper">
            {% bootstrap_field form.sessions layout="control" %}
        </div>
        {% endif %}
    </fieldset>
    {% endif %}

    {% if form.lead_scanning_enabled %}
    <fieldset id="lead-scanning-section">
        <legend>{% trans "Lead scanning" %}</legend>
        {% bootstrap_field form.lead_scanning_enabled layout="control" %}
        {% bootstrap_field form.allow_lead_access layout="control" %}
        {% bootstrap_field form.lead_scanning_scope_by_device layout="control" %}
    </fieldset>
    {% endif %}

    {% if form.allow_voucher_access %}
    <fieldset id="voucher-section">
        <legend>{% trans "Vouchers" %}</legend>
        {% bootstrap_field form.allow_voucher_access layout="control" %}
    </fieldset>
    {% endif %}

    <fieldset>
        <legend>{% trans "Internal notes" %}</legend>
        {% bootstrap_field form.comment layout="control" %}
    </fieldset>

    <div class="form-group submit-group">
        <button type="submit" class="btn btn-primary btn-save">
            {% if action == 'edit' %}
                {% trans "Save changes" %}
            {% else %}
                {% trans "Save" %}
            {% endif %}
        </button>
        {% if organization_type == 'sponsor' or request.GET.type == 'sponsor' %}
            {% url 'plugins:exhibition:sponsors' organizer=request.event.organizer.slug event=request.event.slug as cancel_url %}
        {% else %}
            {% url 'plugins:exhibition:exhibitors' organizer=request.event.organizer.slug event=request.event.slug as cancel_url %}
        {% endif %}
        <a class="btn btn-default btn-lg" href="{{ cancel_url }}">
            {% trans "Cancel" %}
        </a>
    </div>
</form>
{% if action == 'edit' %}
    <div class="panel panel-default exhibition-history">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "History" %}</h3>
        </div>
        {% include "pretixcontrol/includes/logs.html" with obj=object %}
    </div>
{% endif %}
{% include "exhibitors/_image_preview_dialog.html" %}
<script type="text/javascript" src="{% static 'exhibition/js/exhibitors-add.js' %}"></script>
<script type="text/javascript" src="{% static 'exhibition/js/image-preview-dialog.js' %}"></script>
<script type="text/javascript" src="{% static 'exhibition/js/session-select.js' %}"></script>
{% endblock %}
