{% extends "exhibitors/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% load escapejson %}
{% block title %}{{ page_title }}{% endblock %}

{% block custom_header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'exhibition/css/exhibitors-add.css' %}">
    <link rel="stylesheet" href="{% static 'exhibition/css/history-panel.css' %}">
{% endblock %}

{% block exhibitors_header %}
<h1>{{ page_title }}</h1>
{% endblock %}

{% block exhibitors_content %}
<form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form_errors form %}

    <fieldset>
        <legend>{% trans "Profile" %}</legend>
        {% for item in form.profile_items %}
            {% if item.kind == 'social_links' %}
                <div class="form-group {% if social_media_formset.non_form_errors %}has-error{% endif %}">
                    <label class="col-md-3 control-label partner-link-group-label">
                        <span class="label-text">{% trans "Social Media" %}{% if form.profile_field_settings.social_links.required %}<span aria-hidden="true" class="required-indicator text-danger"> *</span><span class="sr-only">, {% trans "required" %}</span>{% endif %}</span>{% if not form.profile_field_settings.social_links.required %}<br><span class="optional">{% trans "Optional" %}</span>{% endif %}
                    </label>
                    <div class="col-md-9">
                        <div id="social-links-formset" class="partner-link-formset formset" data-formset-prefix="{{ social_media_formset.prefix }}" data-social-link-prefixes='{{ social_link_prefixes|escapejson_dumps }}'>
                            {{ social_media_formset.management_form }}
                            <div data-formset-body>
                                {% for social_form in social_media_formset %}
                                    <div class="row partner-link-row" data-formset-form data-social-link-row>
                                        <div class="sr-only">{{ social_form.id }} {{ social_form.DELETE }}</div>
                                        <div class="col-md-3">
                                            {{ social_form.network.errors }}
                                            {{ social_form.network }}
                                        </div>
                                        <div class="col-md-8">
                                            {{ social_form.path.errors }}
                                            <div class="input-group">
                                                <span class="input-group-addon partner-link-prefix" data-social-prefix>https://</span>
                                                {{ social_form.path }}
                                            </div>
                                        </div>
                                        <div class="col-md-1 text-right">
                                            <button type="button" class="btn btn-delete btn-danger btn-sm partner-link-remove" data-formset-delete-button>
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <template data-formset-empty-form>
                                <div class="row partner-link-row" data-formset-form data-social-link-row>
                                    <div class="sr-only">{{ social_media_formset.empty_form.id }} {{ social_media_formset.empty_form.DELETE }}</div>
                                    <div class="col-md-3">
                                        {{ social_media_formset.empty_form.network.errors }}
                                        {{ social_media_formset.empty_form.network }}
                                    </div>
                                    <div class="col-md-8">
                                        {{ social_media_formset.empty_form.path.errors }}
                                        <div class="input-group">
                                            <span class="input-group-addon partner-link-prefix" data-social-prefix>https://</span>
                                            {{ social_media_formset.empty_form.path }}
                                        </div>
                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button type="button" class="btn btn-delete btn-danger btn-sm partner-link-remove" data-formset-delete-button>
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                            </template>
                            <div class="partner-link-actions">
                                <button type="button" class="btn btn-default btn-sm partner-link-add" data-formset-add>
                                    <i class="fa fa-plus"></i> {% trans "Add social media link" %}
                                </button>
                            </div>
                        </div>
                        {% if social_media_formset.non_form_errors %}
                            <p class="help-block">{{ social_media_formset.non_form_errors.0 }}</p>
                        {% endif %}
                    </div>
                </div>
            {% elif item.kind == 'logo' %}
                <div
                    data-partner-image-source-pair
                    data-file-input-id="{{ form.logo.id_for_label }}"
                    data-current-preview-url="{{ form.instance.visible_logo_url }}"
                    data-has-current-file="{{ form.instance.logo|yesno:'true,false' }}"
                >
                    {% bootstrap_field form.logo layout="control" %}
                    <div class="form-group" data-image-preview hidden>
                        <label class="col-md-3 control-label">{% trans "Logo preview" %}</label>
                        <div class="col-md-9">
                            <div class="exhibition-image-preview partner-image-preview-logo">
                                <a data-image-preview-link href="" target="_blank" rel="noopener noreferrer" hidden>
                                    <img loading="lazy" data-image-preview-image alt="{% trans 'Logo preview' %}" hidden>
                                </a>
                            </div>
                            <p class="help-block text-danger" data-image-preview-error hidden>{% trans "We could not load this image preview." %}</p>
                        </div>
                    </div>
                </div>
            {% elif item.kind == 'header_image' %}
                <div
                    data-partner-image-source-pair
                    data-file-input-id="{{ form.header_image.id_for_label }}"
                    data-current-preview-url="{{ form.instance.visible_header_image_url }}"
                    data-has-current-file="{{ form.instance.header_image|yesno:'true,false' }}"
                >
                    {% bootstrap_field form.header_image layout="control" %}
                    <div class="form-group" data-image-preview hidden>
                        <label class="col-md-3 control-label">{% trans "Header image preview" %}</label>
                        <div class="col-md-9">
                            <div class="exhibition-image-preview partner-image-preview-header">
                                <a data-image-preview-link href="" target="_blank" rel="noopener noreferrer" hidden>
                                    <img loading="lazy" data-image-preview-image alt="{% trans 'Header image preview' %}" hidden>
                                </a>
                            </div>
                            <p class="help-block text-danger" data-image-preview-error hidden>{% trans "We could not load this image preview." %}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                {% bootstrap_field item.field layout="control" %}
            {% endif %}
        {% endfor %}
    </fieldset>

    {% if form.is_exhibitor or form.is_sponsor or form.sponsor_group or form.booth_id %}
    <fieldset>
        <legend>{% trans "Organizer only" %}</legend>
        {% if form.is_exhibitor %}
        <div id="is-exhibitor-wrapper">
            {% bootstrap_field form.is_exhibitor layout="control" %}
        </div>
        {% endif %}
        {% if form.is_sponsor %}
        <div id="is-sponsor-wrapper">
            {% bootstrap_field form.is_sponsor layout="control" %}
        </div>
        {% endif %}
        {% if form.sponsor_group %}
        <div id="sponsor-group-wrapper">
            {% bootstrap_field form.sponsor_group layout="control" %}
        </div>
        {% endif %}
        {% if form.booth_id %}
        <div id="booth-id-wrapper">
            {% bootstrap_field form.booth_id layout="control" %}
        </div>
        {% endif %}
    </fieldset>
    {% endif %}

    {% if form.lead_scanning_enabled %}
    <fieldset id="lead-scanning-section">
        <legend>{% trans "Lead scanning" %}</legend>
        {% bootstrap_field form.lead_scanning_enabled layout="control" %}
        {% bootstrap_field form.allow_lead_access layout="control" %}
        {% bootstrap_field form.lead_scanning_scope_by_device layout="control" %}
    </fieldset>
    {% endif %}

    {% if form.allow_voucher_access %}
    <fieldset id="voucher-section">
        <legend>{% trans "Vouchers" %}</legend>
        {% bootstrap_field form.allow_voucher_access layout="control" %}
    </fieldset>
    {% endif %}

    <fieldset>
        <legend>{% trans "Internal notes" %}</legend>
        {% bootstrap_field form.comment layout="control" %}
    </fieldset>

    <div class="form-group submit-group">
        <button type="submit" class="btn btn-primary btn-save">
            {% if action == 'edit' %}
                {% trans "Save changes" %}
            {% else %}
                {% trans "Save" %}
            {% endif %}
        </button>
        {% if partner_type == 'sponsor' or request.GET.type == 'sponsor' %}
            {% url 'plugins:exhibition:sponsors' organizer=request.event.organizer.slug event=request.event.slug as cancel_url %}
        {% else %}
            {% url 'plugins:exhibition:exhibitors' organizer=request.event.organizer.slug event=request.event.slug as cancel_url %}
        {% endif %}
        <a class="btn btn-default btn-lg" href="{{ cancel_url }}">
            {% trans "Cancel" %}
        </a>
    </div>
</form>
{% if action == 'edit' %}
    <div class="panel panel-default exhibition-history">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "History" %}</h3>
        </div>
        {% include "pretixcontrol/includes/logs.html" with obj=object %}
    </div>
{% endif %}
{% include "exhibitors/_image_preview_dialog.html" %}
<script type="text/javascript" src="{% static 'exhibition/js/exhibitors-add.js' %}"></script>
<script type="text/javascript" src="{% static 'exhibition/js/image-preview-dialog.js' %}"></script>
{% endblock %}
