{% extends "exhibitors/base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}
{% load exhibition_email %}

{% block title %}{{ request.event.name }} - {% trans "Email templates" %}{% endblock %}

{% block custom_header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'pretixcontrol/css/order-form-toggles.css' %}">
    <link rel="stylesheet" href="{% static 'exhibition/css/exhibitors-settings.css' %}">
{% endblock %}

{% block exhibitors_header %}
    <h1>{% trans "Email templates" %}</h1>
{% endblock %}

{% block exhibitors_content %}
    <p>
        <a class="btn btn-default" href="{% url 'plugins:exhibition:email.custom_templates.add' organizer=request.event.organizer.slug event=request.event.slug %}">
            <i class="fa fa-plus"></i> {% trans "New template" %}
        </a>
    </p>

    <p class="text-muted">
        {% trans "These templates are used for the confirmation email sent when an applicant submits a request, and for the accept/reject emails you send from the outbox." %}
    </p>

    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <div class="panel-group" id="email_templates_group">
            {% for panel in template_panels %}
                <details class="panel panel-default email-template-panel" data-i18n-scope>
                    <summary class="panel-heading">
                        <h4 class="panel-title">
                            <strong>{{ panel.label }}</strong>
                            <i class="fa fa-angle-down collapse-indicator"></i>
                        </h4>
                    </summary>
                    <div class="panel-body">
                        {% include 'exhibitors/_i18n_language_switcher.html' %}
                        {% bootstrap_field panel.subject_field layout="control" %}
                        <div class="form-group" data-email-preview-wrapper
                             data-email-preview-url="{% url 'plugins:exhibition:email.templates.preview' organizer=request.event.organizer.slug event=request.event.slug %}?role={{ panel.role }}">
                            <label class="col-md-3 control-label">{{ panel.body_field.label }}</label>
                            <div class="col-md-9">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a data-toggle="tab" href="#{{ panel.role }}_edit"><i class="fa fa-pencil-square-o fa-fw"></i> {% trans "Edit" %}</a>
                                    </li>
                                    <li role="presentation">
                                        <a data-toggle="tab" href="#{{ panel.role }}_preview" data-email-preview-tab><i class="fa fa-tv fa-fw"></i> {% trans "Preview" %}</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="{{ panel.role }}_edit" class="tab-pane fade in active">
                                        {% bootstrap_field panel.body_field show_label=False form_group_class="" %}
                                    </div>
                                    <div id="{{ panel.role }}_preview" class="tab-pane">
                                        <div class="mail-preview-group">
                                            {% for locale in locales %}
                                                <div lang="{{ locale }}" dir="{{ locale|locale_dir }}" class="mail-preview"></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </details>
            {% endfor %}

            {% for panel in custom_panels %}
                <details class="panel panel-default email-template-panel" data-i18n-scope>
                    <summary class="panel-heading">
                        <h4 class="panel-title">
                            <strong>{{ panel.label }}</strong>
                            <span class="pull-right">
                                <a href="{% url 'plugins:exhibition:email.custom_templates.delete' organizer=request.event.organizer.slug event=request.event.slug pk=panel.pk %}"
                                   class="btn btn-sm btn-danger" title="{% trans 'Discard this template' %}" data-toggle="tooltip">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <i class="fa fa-angle-down collapse-indicator"></i>
                            </span>
                        </h4>
                    </summary>
                    <div class="panel-body">
                        {% include 'exhibitors/_i18n_language_switcher.html' %}
                        {% bootstrap_field panel.form.name layout="control" %}
                        {% bootstrap_field panel.form.subject layout="control" %}
                        <div class="form-group" data-email-preview-wrapper
                             data-email-preview-url="{% url 'plugins:exhibition:email.templates.preview' organizer=request.event.organizer.slug event=request.event.slug %}?role={{ panel.role_slug }}">
                            <label class="col-md-3 control-label">{{ panel.form.body.label }}</label>
                            <div class="col-md-9">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a data-toggle="tab" href="#{{ panel.role_slug }}_edit"><i class="fa fa-pencil-square-o fa-fw"></i> {% trans "Edit" %}</a>
                                    </li>
                                    <li role="presentation">
                                        <a data-toggle="tab" href="#{{ panel.role_slug }}_preview" data-email-preview-tab><i class="fa fa-tv fa-fw"></i> {% trans "Preview" %}</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="{{ panel.role_slug }}_edit" class="tab-pane fade in active">
                                        {% bootstrap_field panel.form.body show_label=False form_group_class="" %}
                                    </div>
                                    <div id="{{ panel.role_slug }}_preview" class="tab-pane">
                                        <div class="mail-preview-group">
                                            {% for locale in locales %}
                                                <div lang="{{ locale }}" dir="{{ locale|locale_dir }}" class="mail-preview"></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </details>
            {% endfor %}
        </div>

        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">{% trans "Save" %}</button>
        </div>
    </form>
{% endblock %}
