{% extends "exhibitors/base.html" %}
{% load i18n %}

{% block title %}{{ request.event.name }} - {% trans "Discard email" %}{% endblock %}

{% block exhibitors_header %}
    <h1>{% trans "Discard email" %}</h1>
{% endblock %}

{% block exhibitors_content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>
            {% if email.batch %}
                {% blocktrans trimmed with subject=email.subject count counter=recipients|length %}
                    Are you sure you want to discard the email “{{ subject }}” to {{ counter }} recipient? This cannot be undone.
                {% plural %}
                    Are you sure you want to discard the email “{{ subject }}” to {{ counter }} recipients? This cannot be undone.
                {% endblocktrans %}
            {% else %}
                {% blocktrans trimmed with subject=email.subject to=email.to_email %}
                    Are you sure you want to discard the email “{{ subject }}” to {{ to }}? This cannot be undone.
                {% endblocktrans %}
            {% endif %}
        </p>
        <div class="form-group submit-group">
            <a class="btn btn-default btn-cancel" href="{% url 'plugins:exhibition:email.outbox' organizer=request.event.organizer.slug event=request.event.slug %}">
                {% trans "Cancel" %}
            </a>
            <button type="submit" class="btn btn-danger btn-save">
                <i class="fa fa-trash"></i> {% trans "Discard" %}
            </button>
        </div>
    </form>
{% endblock %}
