{% extends "exhibitors/base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}
{% load exhibition_email %}

{% block title %}{{ request.event.name }} - {% trans "Compose email" %}{% endblock %}

{% block custom_header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'exhibition/css/exhibitors-settings.css' %}">
    <script defer src="{% static 'exhibition/js/schedule-datetime.js' %}"></script>
{% endblock %}

{% block exhibitors_header %}
    <h1>{% trans "Compose email" %}</h1>
{% endblock %}

{% block exhibitors_content %}
    <p class="text-muted">
        {% trans "Send an update to a group of applicants. One email is queued per recipient, with placeholders resolved individually." %}
    </p>

    {% if custom_templates %}
        <form action="" method="get" class="form-inline custom-template-picker">
            <label for="id_template_picker" class="control-label">{% trans "Load from template" %}</label>
            <select name="template" id="id_template_picker" class="form-control input-sm">
                <option value="">{% trans "Select a saved template…" %}</option>
                {% for template in custom_templates %}
                    <option value="{{ template.pk }}">{{ template.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-default btn-sm">{% trans "Load" %}</button>
        </form>
    {% endif %}

    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <fieldset>
            <legend>{% trans "Recipients" %}</legend>
            {% bootstrap_field form.states layout="control" %}
            {% bootstrap_field form.partner_type layout="control" %}
            {% bootstrap_field form.sponsor_group layout="control" %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Message" %}</legend>
            {% bootstrap_field form.subject layout="control" %}
            <div class="form-group{% if form.body.errors %} has-error{% endif %}" data-email-preview-wrapper
                 data-email-preview-url="{% url 'plugins:exhibition:email.templates.preview' organizer=request.event.organizer.slug event=request.event.slug %}?role=compose">
                <label class="col-md-3 control-label"><span class="label-text">{{ form.body.label }}<span aria-hidden="true" class="required-indicator text-danger"> *</span><span class="sr-only">, {% trans "required" context "form" %}</span></span></label>
                <div class="col-md-9">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a data-toggle="tab" href="#compose_edit"><i class="fa fa-pencil-square-o fa-fw"></i> {% trans "Edit" %}</a>
                        </li>
                        <li role="presentation">
                            <a data-toggle="tab" href="#compose_preview" data-email-preview-tab><i class="fa fa-tv fa-fw"></i> {% trans "Preview" %}</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="compose_edit" class="tab-pane fade in active">
                            {% bootstrap_field form.body show_label=False form_group_class="" %}
                        </div>
                        <div id="compose_preview" class="tab-pane">
                            <div class="mail-preview-group">
                                {% for locale in locales %}
                                    <div lang="{{ locale }}" dir="{{ locale|locale_dir }}" class="mail-preview"></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% bootstrap_field form.scheduled_at layout="control" %}
        </fieldset>
        <div class="form-group submit-group">
            <div class="col-md-9 col-md-offset-3">
                <button type="submit" class="btn btn-default" name="_save" value="save">
                    {% trans "Save to outbox" %}
                </button>
                <button type="submit" class="btn btn-primary" name="_send" value="send">
                    <i class="fa fa-paper-plane"></i> {% trans "Send / Schedule" %}
                </button>
            </div>
        </div>
    </form>
{% endblock %}
