{% extends "exhibitors/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ request.event.name }} - {% trans "Edit email" %}{% endblock %}


{% block exhibitors_header %}
    <h1>{% trans "Preview / edit email" %}</h1>
{% endblock %}

{% block exhibitors_content %}
    <p>
        <a class="btn btn-default" href="{% url 'plugins:exhibition:email.outbox' organizer=request.event.organizer.slug event=request.event.slug %}">
            <i class="fa fa-arrow-left"></i> {% trans "Back to outbox" %}
        </a>
    </p>

    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% if email.batch %}
            <div class="form-group">
                <label class="col-md-3 control-label">{% trans "Recipients" %} ({{ recipients|length }})</label>
                <div class="col-md-9">
                    <p class="form-control-static">{{ recipients|join:", " }}</p>
                </div>
            </div>
            <input type="hidden" name="to_email" value="{{ email.to_email }}">
        {% else %}
            {% bootstrap_field form.to_email layout="control" %}
        {% endif %}
        {% bootstrap_field form.subject layout="control" %}
        {% bootstrap_field form.body layout="control" %}
        {% bootstrap_field form.scheduled_at layout="control" %}
        <div class="form-group submit-group">
            <div class="col-md-9 col-md-offset-3">
                <button type="submit" class="btn btn-default btn-lg" name="_save" value="save">
                    {% trans "Save changes" %}
                </button>
                <button type="submit" class="btn btn-primary btn-save" name="_send" value="send">
                    <i class="fa fa-paper-plane"></i> {% trans "Save & send" %}
                </button>
            </div>
        </div>
    </form>
{% endblock %}
