{% extends "exhibitors/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ request.event.name }} - {% if object %}{{ object.backend_name }}{% else %}{% trans "Create a new category" %}{% endif %}{% endblock %}

{% block exhibitors_header %}
    <h1>{% if object %}{% blocktrans trimmed with name=object.backend_name %}Category: {{ name }}{% endblocktrans %}{% else %}{% trans "Create a new category" %}{% endif %}</h1>
{% endblock %}

{% block exhibitors_content %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <fieldset>
            <legend>{% trans "General information" %}</legend>
            {% include 'exhibitors/_i18n_language_switcher.html' %}
            {% bootstrap_field form.name layout="control" %}
            {% bootstrap_field form.internal_name layout="control" %}
            {% bootstrap_field form.description layout="control" %}
        </fieldset>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">{% trans "Save" %}</button>
            <a class="btn btn-default btn-lg" href="{% url 'plugins:exhibition:products.categories' organizer=request.event.organizer.slug event=request.event.slug %}">
                {% trans "Cancel" %}
            </a>
        </div>
    </form>
{% endblock %}
