{% extends "exhibitors/call_base.html" %}
{% load i18n %}
{% load event_tags %}
{% load rich_text %}

{% block call_content %}
    {% trans "Call for Exhibitors" as default_headline %}
    <h2 id="exhibition-call-heading">
        {{ settings.call_headline|event_localize|default:default_headline }}
    </h2>
    {% if settings.call_text %}
        {{ settings.call_text|event_localize|rich_text }}
    {% else %}
        <p>{% trans "Submit a request to become an exhibitor for this event." %}</p>
    {% endif %}
    {% if settings.call_deadline %}
        <p>
            <strong>
                {% if settings.call_is_open %}
                    {% blocktrans with deadline=settings.call_deadline|date:"SHORT_DATETIME_FORMAT" timezone=request.timezone trimmed %}
                        You can submit requests until {{ deadline }} ({{ timezone }}).
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans with deadline=settings.call_deadline|date:"SHORT_DATETIME_FORMAT" timezone=request.timezone trimmed %}
                        This call closed on {{ deadline }} ({{ timezone }}).
                    {% endblocktrans %}
                {% endif %}
            </strong>
        </p>
    {% endif %}
    <div class="url-links">
        {% if request.user.is_authenticated %}
            <a class="btn btn-info btn-lg btn-block" href="{% url 'plugins:exhibition:proposal.user_list' organizer=request.event.organizer.slug event=request.event.slug %}">
                {% trans "View your requests" %}
            </a>
        {% endif %}
        <a class="btn btn-success btn-lg btn-block {% if not settings.call_is_open %}disabled{% endif %}"
           href="{% url 'plugins:exhibition:proposal.add' organizer=request.event.organizer.slug event=request.event.slug %}">
            {% if settings.call_is_open %}
                {% trans "Submit a request" %}
            {% else %}
                {% trans "Requests are closed" %}
            {% endif %}
        </a>
    </div>
{% endblock %}
