{% extends "exhibitors/call_base.html" %}
{% load i18n %}

{% block call_content %}
    <h2 id="exhibition-call-heading">{% trans "Reinstate request" %}</h2>
    <p>
        {% blocktrans trimmed with name=exhibition_request.name %}
            Do you want to reinstate your withdrawn request “{{ name }}”? It will be pending review again.
        {% endblocktrans %}
    </p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="row checkout-button-row">
            <div class="col-md-4 col-sm-6">
                <a class="btn btn-block btn-default btn-lg" href="{% url 'plugins:exhibition:request.user_list' organizer=request.event.organizer.slug event=request.event.slug %}">
                    {% trans "Cancel" %}
                </a>
            </div>
            <div class="col-md-4 col-md-offset-4 col-sm-6">
                <button type="submit" class="btn btn-block btn-primary btn-lg">
                    {% trans "Reinstate request" %}
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
{% endblock %}
