{% extends "exhibitors/call_base.html" %}
{% load i18n %}

{% block call_content %}
    <h2 id="exhibition-call-heading">{% trans "Your exhibition requests" %}</h2>
    {% if exhibition_requests %}
        <div class="table-responsive">
            <table class="table table-sm table-flip">
                <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "State" %}</th>
                    <th>{% trans "Last modified" %}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for exhibition_request in exhibition_requests %}
                    <tr>
                        <td>{{ exhibition_request.name }}</td>
                        <td>
                            {% if exhibition_request.state == "withdrawn" %}
                                <span class="label label-default">{% trans "Withdrawn" %}</span>
                            {% else %}
                                {{ exhibition_request.get_state_display }}
                            {% endif %}
                        </td>
                        <td>{{ exhibition_request.updated|date:"SHORT_DATETIME_FORMAT" }}</td>
                        <td class="text-right">
                            <a class="btn btn-sm btn-info" href="{% url 'plugins:exhibition:request.user_edit' organizer=request.event.organizer.slug event=request.event.slug code=exhibition_request.code %}">
                                {% if exhibition_request.submitter_can_edit %}
                                    <i class="fa fa-edit"></i> {% trans "Edit" %}
                                {% else %}
                                    <i class="fa fa-eye"></i> {% trans "View" %}
                                {% endif %}
                            </a>
                            {% if exhibition_request.can_be_withdrawn %}
                                <a class="btn btn-sm btn-danger" href="{% url 'plugins:exhibition:request.user_withdraw' organizer=request.event.organizer.slug event=request.event.slug code=exhibition_request.code %}">
                                    <i class="fa fa-undo"></i> {% trans "Withdraw" %}
                                </a>
                            {% endif %}
                            {% if exhibition_request.can_be_reinstated %}
                                <a class="btn btn-sm btn-default" href="{% url 'plugins:exhibition:request.user_reinstate' organizer=request.event.organizer.slug event=request.event.slug code=exhibition_request.code %}">
                                    <i class="fa fa-inbox"></i> {% trans "Reinstate" %}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if settings.call_is_open %}
            <p>
                <a class="btn btn-success btn-lg" href="{% url 'plugins:exhibition:request.add' organizer=request.event.organizer.slug event=request.event.slug %}">
                    {% trans "Create a new request" %}
                </a>
            </p>
        {% endif %}
    {% else %}
        <p class="text-center">{% trans "You have not submitted an exhibition request yet." %}</p>
        {% if settings.call_is_open %}
            <p class="text-center">
                <a class="btn btn-success btn-lg btn-block" href="{% url 'plugins:exhibition:request.add' organizer=request.event.organizer.slug event=request.event.slug %}">
                    {% trans "Submit a request" %}
                </a>
            </p>
        {% endif %}
    {% endif %}
{% endblock %}
