{% extends "exhibitors/call_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% load escapejson %}

{% block custom_header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'exhibition/css/exhibitors-add.css' %}">
    <script defer src="{% static 'exhibition/js/content-locale-direction.js' %}"></script>
{% endblock %}

{% block call_content %}
    <h2 id="exhibition-call-heading">
        {% if object %}
            {% trans "Edit request" %}
        {% else %}
            {% trans "Submit a request" %}
        {% endif %}
    </h2>
    {% if object and not can_edit %}
        <div class="alert alert-warning" role="alert">
            <i class="fa fa-lock"></i> {% trans "This request can no longer be edited." %}
        </div>
    {% endif %}
    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% bootstrap_form_errors form %}

        {% if form.content_locale %}
            {% bootstrap_field form.content_locale layout="control" %}
        {% endif %}

        {% for item in form.proposal_items %}
            {% if item.kind == 'social_links' and can_edit %}
                <div class="form-group {% if social_media_formset.non_form_errors %}has-error{% endif %}">
                    <label class="col-md-3 control-label partner-link-group-label">
                        <span class="label-text">{% trans "Social Media" %}{% if form.proposal_field_settings.social_links.required %}<span aria-hidden="true" class="required-indicator text-danger"> *</span><span class="sr-only">, {% trans "required" %}</span>{% endif %}</span>
                    </label>
                    <div class="col-md-9">
                        <div id="social-links-formset" class="partner-link-formset formset" data-formset-prefix="{{ social_media_formset.prefix }}" data-social-link-prefixes='{{ social_link_prefixes|escapejson_dumps }}'>
                            {{ social_media_formset.management_form }}
                            <div data-formset-body>
                                {% for social_form in social_media_formset %}
                                    <div class="row partner-link-row" data-formset-form data-social-link-row>
                                        <div class="sr-only">{{ social_form.id }} {{ social_form.DELETE }}</div>
                                        <div class="col-md-3">{{ social_form.network.errors }}{{ social_form.network }}</div>
                                        <div class="col-md-8">
                                            {{ social_form.path.errors }}
                                            <div class="input-group">
                                                <span class="input-group-addon partner-link-prefix" data-social-prefix>https://</span>
                                                {{ social_form.path }}
                                            </div>
                                        </div>
                                        <div class="col-md-1 text-right">
                                            <button type="button" class="btn btn-delete btn-danger btn-sm partner-link-remove" data-formset-delete-button><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <template data-formset-empty-form>
                                <div class="row partner-link-row" data-formset-form data-social-link-row>
                                    <div class="sr-only">{{ social_media_formset.empty_form.id }} {{ social_media_formset.empty_form.DELETE }}</div>
                                    <div class="col-md-3">{{ social_media_formset.empty_form.network.errors }}{{ social_media_formset.empty_form.network }}</div>
                                    <div class="col-md-8">
                                        {{ social_media_formset.empty_form.path.errors }}
                                        <div class="input-group">
                                            <span class="input-group-addon partner-link-prefix" data-social-prefix>https://</span>
                                            {{ social_media_formset.empty_form.path }}
                                        </div>
                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button type="button" class="btn btn-delete btn-danger btn-sm partner-link-remove" data-formset-delete-button><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                            </template>
                            <div class="partner-link-actions">
                                <button type="button" class="btn btn-default btn-sm partner-link-add" data-formset-add>
                                    <i class="fa fa-plus"></i> {% trans "Add social media link" %}
                                </button>
                            </div>
                        </div>
                        {% if social_media_formset.non_form_errors %}
                            <p class="help-block">{{ social_media_formset.non_form_errors.0 }}</p>
                        {% endif %}
                    </div>
                </div>
            {% elif item.kind == 'logo' %}
                <div
                    data-partner-image-source-pair
                    data-file-input-id="{{ form.logo.id_for_label }}"
                    data-current-preview-url="{{ form.instance.visible_logo_url }}"
                    data-has-current-file="{{ form.instance.logo|yesno:'true,false' }}"
                >
                    {% bootstrap_field form.logo layout="control" %}
                    <div class="form-group" data-image-preview hidden>
                        <label class="col-md-3 control-label">{% trans "Logo preview" %}</label>
                        <div class="col-md-9">
                            <div class="exhibition-image-preview partner-image-preview-logo">
                                <a data-image-preview-link href="" target="_blank" rel="noopener noreferrer" hidden>
                                    <img loading="lazy" data-image-preview-image alt="{% trans 'Logo preview' %}" hidden>
                                </a>
                            </div>
                            <p class="help-block text-danger" data-image-preview-error hidden>{% trans "We could not load this image preview." %}</p>
                        </div>
                    </div>
                </div>
            {% elif item.kind == 'header_image' %}
                <div
                    data-partner-image-source-pair
                    data-file-input-id="{{ form.header_image.id_for_label }}"
                    data-current-preview-url="{{ form.instance.visible_header_image_url }}"
                    data-has-current-file="{{ form.instance.header_image|yesno:'true,false' }}"
                >
                    {% bootstrap_field form.header_image layout="control" %}
                    <div class="form-group" data-image-preview hidden>
                        <label class="col-md-3 control-label">{% trans "Header image preview" %}</label>
                        <div class="col-md-9">
                            <div class="exhibition-image-preview partner-image-preview-header">
                                <a data-image-preview-link href="" target="_blank" rel="noopener noreferrer" hidden>
                                    <img loading="lazy" data-image-preview-image alt="{% trans 'Header image preview' %}" hidden>
                                </a>
                            </div>
                            <p class="help-block text-danger" data-image-preview-error hidden>{% trans "We could not load this image preview." %}</p>
                        </div>
                    </div>
                </div>
            {% elif item.kind == 'field' %}
                {% bootstrap_field item.field layout="control" %}
            {% endif %}
        {% endfor %}

        {% if can_edit %}
            <div class="row checkout-button-row">
                <div class="col-md-4 col-sm-6">
                    <a class="btn btn-block btn-default btn-lg" href="{% url 'plugins:exhibition:proposal.user_list' organizer=request.event.organizer.slug event=request.event.slug %}">
                        {% trans "Cancel" %}
                    </a>
                </div>
                <div class="col-md-4 col-md-offset-4 col-sm-6">
                    {% if state_locked %}
                        <button type="submit" class="btn btn-block btn-primary btn-lg" name="action" value="save">
                            {% trans "Save changes" %}
                        </button>
                    {% else %}
                        <button type="submit" class="btn btn-block btn-primary btn-lg" name="action" value="submit">
                            {% if already_submitted %}{% trans "Save changes" %}{% else %}{% trans "Submit request" %}{% endif %}
                        </button>
                        <button type="submit" class="btn btn-block btn-link" name="action" value="draft">
                            {% trans "or save as draft for now" %}
                        </button>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </div>
        {% else %}
            <div class="row checkout-button-row">
                <div class="col-md-4 col-sm-6">
                    <a class="btn btn-block btn-default btn-lg" href="{% url 'plugins:exhibition:proposal.user_list' organizer=request.event.organizer.slug event=request.event.slug %}">
                        {% trans "Back to your requests" %}
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        {% endif %}
    </form>
    {% include "exhibitors/_image_preview_dialog.html" %}
    {% if can_edit %}
        <script type="text/javascript" src="{% static 'exhibition/js/exhibitors-add.js' %}"></script>
    {% endif %}
    <script type="text/javascript" src="{% static 'exhibition/js/image-preview-dialog.js' %}"></script>
{% endblock %}
